/* .slides .slick-prev,
.slides .slick-next {
  background-color: #222;
  border-radius: 50px;
} */

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 40%;
  z-index: 1;
}

.slides .slick-prev {
  left: 4%;
}

.slides .slick-next {
  right: 4%;
}
